# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data', sep= '\s+')

In [4]:
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [5]:
data.Yr.max() # max year is 78

78

In [6]:
data.Yr.value_counts()

64    366
72    366
76    366
68    366
70    365
71    365
67    365
63    365
78    365
74    365
62    365
66    365
77    365
73    365
69    365
65    365
61    365
75    365
Name: Yr, dtype: int64

In [7]:
# we have concatented first 3 cols and assigned them to new col in data

## is there other ways to do it

data['date_str'] = data.Yr.astype(str) + '-'+ data.Mo.astype(str) + '-' + data.Dy.astype(str)

data['date_str']

0         61-1-1
1         61-1-2
2         61-1-3
3         61-1-4
4         61-1-5
          ...
6569    78-12-27
6570    78-12-28
6571    78-12-29
6572    78-12-30
6573    78-12-31
Name: date_str, Length: 6574, dtype: object

In [8]:
pd.to_datetime(data['date_str'], format= '%y-%m-%d')

0      2061-01-01
1      2061-01-02
2      2061-01-03
3      2061-01-04
4      2061-01-05
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: date_str, Length: 6574, dtype: datetime64[ns]

In [9]:
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date_str
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,61-1-1
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,61-1-2
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,61-1-3
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,61-1-4
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,61-1-5

In [10]:
# here data may be separated by white spce so sep = \s+ , parse_dates = [[0,1,2]]

#To read date column correctly, use argument parse_dates to specify a list of date columns


data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data', sep= '\s+', parse_dates = [[0,1,2]])

In [11]:
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

In [13]:
data.shape

(6574, 13)

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [67]:
# figure out how to do this without using any function

# can we try to replace all 20's with 19's
(data.index.year).value_counts()

1972    366
1976    366
2064    366
2068    366
2061    365
1974    365
1971    365
2070    365
2066    365
2062    365
1978    365
2063    365
2067    365
2065    365
1977    365
1973    365
2069    365
1975    365
Name: Yr_Mo_Dy, dtype: int64

In [14]:
# 2061 should be 1961. so change it whenver year starts with 20

data.Yr_Mo_Dy.value_counts()

1972-04-14    1
2070-08-10    1
1972-11-09    1
1974-01-24    1
1972-09-25    1
             ..
2062-05-18    1
2069-06-29    1
1975-12-15    1
1976-02-29    1
2062-09-06    1
Name: Yr_Mo_Dy, Length: 6574, dtype: int64

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [15]:
data.info() # dtype is correct here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

In [16]:
data = data.set_index('Yr_Mo_Dy')

data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [20]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [23]:
data.isna().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [31]:
# total, add all non-missing values

data.notna().sum().sum()

78857

In [32]:
data.notna().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [29]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [ ]:
2 ways to calculate

In [30]:
# but this is not a singer number fo entire df

data.mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

In [42]:
# we first add windspeeds location wise, then sum them all to get a single number

data.sum()

RPT     81200.10
VAL     69943.79
ROS     76632.98
KIL     41427.19
SHA     68715.74
BIR     46624.48
DUB     64378.34
CLA     55829.49
MUL     55811.38
CLO     57233.29
BEL     86257.50
MAL    102485.95
dtype: float64

In [43]:
# similar way for calculating avg 

data.sum().sum()

806540.23

In [52]:
# 

data.sum().sum()/data.notna().sum().sum()

10.227883764282181

In [53]:
# we can do like this also for fiding mean of each location
data.sum().mean()

67211.68583333334

In [54]:
data.notna().sum().mean()

6571.416666666667

In [49]:
data.sum().mean()/data.notna().sum().mean()

10.227883764282181

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [56]:
loc_stats = data.describe()

loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [57]:
# so for each day , we apply describe on the index Yr_Mo_Dy

data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [58]:
data.T

Yr_Mo_Dy,2061-01-01,2061-01-02,2061-01-03,2061-01-04,2061-01-05,2061-01-06,2061-01-07,2061-01-08,2061-01-09,2061-01-10,...,1978-12-22,1978-12-23,1978-12-24,1978-12-25,1978-12-26,1978-12-27,1978-12-28,1978-12-29,1978-12-30,1978-12-31
RPT,15.04,14.71,18.50,10.58,13.33,13.21,13.50,10.96,12.58,13.37,...,6.21,16.62,8.67,7.21,13.83,17.58,13.21,14.00,18.50,20.33
VAL,14.96,NaN,16.88,6.63,13.25,8.12,14.29,9.75,10.83,11.12,...,7.38,13.29,5.63,6.58,11.87,16.96,5.46,10.29,14.04,17.41
ROS,13.17,10.83,12.33,11.75,11.42,9.96,9.50,7.62,10.00,19.50,...,13.08,22.21,12.12,7.83,10.34,17.62,13.46,14.42,21.29,27.29
KIL,9.29,6.50,10.13,4.58,6.17,6.67,4.96,5.91,4.75,8.33,...,2.54,9.50,4.79,2.67,2.37,8.08,5.00,8.71,9.13,9.59
SHA,NaN,12.62,11.17,4.54,10.71,5.37,12.29,9.62,10.37,9.71,...,7.58,14.29,5.09,4.79,6.96,13.21,8.12,9.71,12.75,12.08
BIR,9.87,7.67,6.17,2.88,8.21,4.50,8.33,7.29,6.79,6.54,...,5.33,13.08,5.91,4.58,4.29,11.67,9.42,10.54,9.71,10.13
DUB,13.67,11.50,11.25,8.63,11.92,10.67,9.17,14.29,8.04,11.42,...,2.46,16.50,12.25,8.71,1.96,14.46,14.33,19.17,18.08,19.25
CLA,10.25,10.04,NaN,1.79,6.54,4.42,9.29,7.62,10.13,7.79,...,8.38,17.16,9.25,0.75,3.79,15.59,16.25,12.46,12.87,11.63
MUL,10.83,9.79,8.50,5.83,10.92,7.17,7.58,9.25,7.79,8.54,...,5.09,12.71,10.83,5.21,3.04,14.04,15.25,14.50,12.46,11.58
CLO,12.58,9.67,7.67,5.88,10.34,7.50,7.96,10.46,9.08,9.00,...,5.04,12.00,11.71,5.25,3.08,14.00,18.05,16.42,12.12,11.38
BEL,18.50,17.54,12.75,5.46,12.92,8.12,13.96,16.62,13.04,8.58,...,9.92,18.50,11.92,1.21,4.79,17.21,21.79,18.88,14.67,12.08
MAL,15.04,13.83,12.71,10.88,11.83,13.17,13.79,16.46,15.37,11.83,...,11.00,21.50,31.71,13.96,11.96,40.08,41.46,29.58,28.79,22.08

In [61]:
# Transposing all 6574 rows takes a bit time. so we apply Transpose only on head

data.head().T.describe()

Yr_Mo_Dy  2061-01-01  2061-01-02  2061-01-03  2061-01-04  2061-01-05
count      11.000000   11.000000   11.000000   12.000000   12.000000
mean       13.018182   11.336364   11.641818    6.619167   10.630000
std         2.808875    3.188994    3.681912    3.198126    2.445356
min         9.290000    6.500000    6.170000    1.790000    6.170000
25%        10.540000    9.730000    9.315000    4.570000    9.807500
50%        13.170000   10.830000   11.250000    5.855000   11.170000
75%        15.000000   13.225000   12.730000    9.117500   12.170000
max        18.500000   17.540000   18.500000   11.750000   13.330000

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [ ]:
# find otherways to do this
#original df has Mo, so we can do it - data[data.Mo == 1].mean()

In [66]:
(data.index.month).value_counts()

8     558
12    558
1     558
5     558
10    558
3     558
7     558
4     540
9     540
6     540
11    540
2     508
Name: Yr_Mo_Dy, dtype: int64

In [62]:
#df.loc used for operating at each location

data.loc[data.index.month == 1].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

In [68]:
# without doing loc also we get answer as we have mentioned condition

data[data.index.month == 1].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [ ]:
#from this point cross check solutions of each step, why answers are different

In [85]:
# Y/A indicates Year/ Annual

data.resample('Y').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1971-12-31,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972-12-31,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973-12-31,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974-12-31,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975-12-31,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
...,...,...,...,...,...,...,...,...,...,...,...,...
2066-12-31,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
2067-12-31,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
2068-12-31,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
2069-12-31,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
2070-12-31,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027

In [86]:
data.groupby(data.index.year).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370
2061,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
2062,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
2063,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
2064,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
2065,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
2066,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
2067,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
2068,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
2069,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
2070,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027

### Step 13. Downsample the record to a monthly frequency for each location.

In [88]:
# M for monthly

data.resample('M').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1971-01-31,15.098065,13.398387,13.080000,6.364194,11.342258,7.759677,10.297419,8.350000,8.979355,8.666774,14.392581,16.360000
1971-02-28,11.724643,9.757143,10.311786,5.242143,9.676786,5.492143,8.683929,7.075000,8.272857,7.833571,12.883929,15.863214
1971-03-31,10.844839,8.243226,11.228387,5.629032,8.960000,5.486774,9.061935,6.700000,8.494516,7.758387,11.510000,15.678387
1971-04-30,9.884333,6.848000,11.187667,4.891333,8.165000,5.319000,6.688000,5.856667,7.512667,6.051333,9.014000,12.301000
1971-05-31,11.200645,8.883548,9.564839,4.888387,8.322903,5.423226,5.875806,7.230323,7.494839,7.122581,11.926129,13.107742
...,...,...,...,...,...,...,...,...,...,...,...,...
2070-08-31,9.561613,8.389677,9.485161,4.765806,8.016774,5.660323,5.986774,5.536129,6.849677,6.336129,10.348065,11.870645
2070-09-30,11.926667,12.082333,11.035333,6.509333,11.482000,7.693000,8.184000,7.921000,9.359667,8.430667,13.995333,15.865667
2070-10-31,13.354839,11.937097,11.378710,6.665806,11.728387,8.450000,10.874839,10.113871,10.560645,9.052581,15.552903,19.790323
2070-11-30,13.721667,11.998333,12.118667,6.504000,10.861000,8.169333,10.266000,8.232333,10.010333,8.312000,13.270667,17.852667
2070-12-31,12.788710,9.659032,14.111935,5.684516,10.013548,6.186129,9.073871,6.961290,8.178387,7.634839,10.878065,17.411613

In [89]:
# this method is more appropriate

data.groupby(data.index.month).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599

### Step 14. Downsample the record to a weekly frequency for each location.

In [90]:
data.groupby(data.index.week).mean()

<ipython-input-90-65f772a74372>:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  data.groupby(data.index.week).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1,13.693101,11.434574,13.059457,6.611473,10.381628,7.455736,11.510930,8.790625,9.060078,9.680233,14.041628,18.090853
2,15.362302,13.096587,13.746349,7.031667,11.639365,7.799762,11.511508,9.243571,9.091349,9.580794,14.013175,17.220159
3,15.393492,14.049127,13.389603,7.493889,12.762880,8.870794,12.405794,10.319683,10.164365,10.656587,15.472698,18.596746
4,14.978320,13.186508,12.928730,7.449286,11.837143,8.180952,11.526429,9.606270,9.617619,10.201587,15.010556,18.120952
5,14.949444,13.516825,13.589286,7.630159,12.376270,8.420079,12.473333,10.081587,10.220238,10.459286,15.005556,18.195238
6,13.276429,11.464048,12.347381,6.471667,10.928492,7.048016,10.899683,8.758651,9.107778,9.051190,13.582619,17.320873
7,14.284524,12.348333,12.986984,6.981920,11.916190,7.789365,11.157698,9.536825,9.300476,9.567063,13.610714,17.352302
8,13.759524,12.189286,13.813730,7.518480,11.843175,8.075397,11.781349,9.796349,9.714127,10.020397,13.589048,17.242222
9,12.441360,11.438889,12.244720,6.378810,10.493968,7.116587,10.169841,8.946270,8.485840,9.167381,13.197460,15.971360
10,13.171440,11.283095,12.938651,7.064444,11.136587,7.634603,10.740238,8.929365,9.234841,9.618571,12.761349,16.177540
11,14.006032,12.049444,13.317460,7.800794,12.190000,8.479603,11.812381,10.403016,10.139286,10.664603,14.188413,17.504320
12,12.752778,11.227063,12.438095,7.248651,11.563333,8.064048,11.832460,9.863968,9.973810,10.131587,14.051746,17.713651
13,13.327222,11.613333,12.564841,7.579040,12.146032,8.304286,11.642143,9.851825,10.271040,10.194603,14.556984,16.772381
14,13.380635,10.599444,13.844683,7.526429,10.930714,7.625794,11.034206,9.288333,9.499444,9.718730,13.063810,16.378571
15,12.410873,10.001587,11.481508,6.668571,10.520159,7.222619,10.537063,9.159365,9.012937,9.185000,12.784921,15.725000
16,12.957143,11.313254,12.112857,7.321508,11.290000,8.064524,10.328413,9.117460,9.195714,9.740873,12.878810,14.581032
17,11.073889,9.613651,11.158333,5.935317,9.631270,6.527143,8.578095,7.953175,7.676349,7.931349,11.829286,12.585714
18,12.952619,11.079365,11.299206,6.819365,11.055873,7.453413,9.567381,8.665714,8.412460,9.100079,12.900159,14.913492
19,13.060556,11.223254,12.758889,6.981984,10.987937,7.653333,9.802240,9.304762,8.732222,9.376508,13.912540,14.506984
20,11.218651,9.790080,11.367302,6.122143,9.937778,6.713333,8.519444,8.293016,7.902857,8.259603,12.472698,13.584286
21,11.115476,9.527540,11.207619,5.967600,9.830238,6.611111,8.237460,8.061270,7.753889,8.156587,12.388968,13.423730
22,10.030159,8.684524,10.642857,5.393889,9.160000,6.154524,7.599603,7.874206,7.415159,7.575714,11.665556,12.096667
23,9.730635,8.445556,9.819286,5.047778,8.412540,5.477619,7.155476,7.039683,6.726905,6.972222,11.190556,12.277698
24,10.081111,8.847778,10.300000,5.439365,8.972698,6.120635,7.115556,7.636587,7.045159,7.182063,12.075000,11.890635
25,11.678810,9.815873,10.771905,6.282143,11.063810,7.390873,9.431587,8.726429,8.697222,8.587460,13.187063,14.158492
26,10.164160,8.880238,10.226984,5.913571,9.996349,6.769206,8.604603,8.228333,8.269762,8.264683,13.020317,13.399280
27,10.017698,7.964444,8.819365,5.284365,8.851667,5.720952,7.613680,7.080952,7.513810,7.314683,11.290317,13.027381
28,10.047619,8.359524,9.583333,5.530556,9.443492,6.063095,8.010159,7.328571,7.699365,7.326587,11.482937,12.745476
29,10.152937,8.391190,9.836825,5.582302,9.608571,6.211508,8.257143,7.507063,7.691746,7.612857,12.068571,13.097143
30,9.579762,8.054762,9.006429,5.107460,8.760873,5.519206,7.316587,6.711746,6.940079,6.810238,11.194921,12.062302
31,9.949206,8.437540,9.692619,5.163175,9.072778,5.815000,7.612143,6.830873,7.109921,6.729206,11.056111,12.390079
32,10.300080,8.573333,9.338889,5.506746,9.270556,6.057222,7.601746,6.956587,7.463492,6.980720,11.282937,12.721200
33,9.955317,7.853175,10.178651,5.158571,8.451905,5.623810,7.571587,6.451270,6.993651,6.535714,10.387857,11.249921
34,10.908810,9.326429,10.581667,5.488968,9.466349,6.350952,8.191429,7.664921,7.837222,7.918492,12.125159,13.924841
35,10.334365,8.646270,10.343889,5.334524,8.827540,6.012937,8.162143,6.939048,7.079444,7.217460,11.718492,13.376349
36,10.771429,9.299921,10.012937,5.450873,9.317857,6.408095,8.366429,7.050952,7.490238,7.283175,11.617778,13.885079
37,11.164524,9.289683,10.843760,5.469040,9.202698,6.340159,8.515873,7.422640,7.305159,7.329444,12.354762,14.570556
38,10.199206,9.313095,10.254603,4.598333,8.739762,5.622381,7.441190,6.955079,6.594127,6.658016,11.681746,13.360397
39,13.838810,12.250160,11.840952,6.956905,12.013016,7.970397,10.188730,9.555000,9.059127,9.551190,15.136905,17.301667
40,12.394921,10.800317,11.515556,5.935238,10.389206,6.851349,9.242381,8.635873,8.423810,8.549206,13.378651,15.570794
41,12.210640,10.450000,11.358651,5.452540,9.906905,6.639921,8.689524,8.170159,7.850079,8.037302,13.209444,15.502619
42,12.632381,10.662619,11.173333,6.183968,10.434048,7.261746,9.802143,8.653333,8.362937,9.039603,14.238175,17.174603
43,13.089365,11.726508,11.645000,6.328016,11.156032,7.693968,9.844444,9.280556,8.686800,9.495238,15.553651,18.216905
44,13.752778,12.043968,12.708810,6.741032,10.853333,7.575159,10.148730,9.369603,8.899841,9.722857,14.778254,18.368889
45,13.188016,11.950397,12.730635,6.375000,10.853730,7.403175,10.833810,8.793095,8.907302,9.116349,14.214841,18.251746
46,14.040873,12.133571,12.772857,6.690079,11.240317,7.511984,11.074127,8.451587,8.738413,8.953651,13.615159,18.381032
47,11.886429,10.530714,11.493175,5.628254,9.365635,6.354206,10.398640,7.813492,8.033016,8.346270,12.881270,17.301984
48,13.592857,11.966429,11.848016,6.114603,10.832381,7.521429,11.435476,8.523333,8.820714,9.087381,14.218889,18.423810
49,14.792619,12.951667,12.732143,7.298968,11.973016,8.479444,12.926429,9.484206,10.175556,9.872698,15.143651,19.401270
50,14.395079,12.695238,12.447063,6.853175,11.666429,8.203492,11.621984,9.193095,9.226667,9.596429,14.471825,17.926429
51,14.106905,11.832540,13.066746,6.368651,10.774048,7.492143,10.600476,8.899762,8.795556,9.254841,13.928571,18.028095
52,14.186905,11.236032,14.092302,6.752460,10.405079,7.074127,11.851349,8.794921,9.375159,9.380317,12.861905,18.981508
53,13.001053,10.873333,11.907895,5.716842,9.348333,7.008421,10.561579,6.741053,7.662105,8.572632,12.630526,15.786842

In [91]:
data.resample('W').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1971-01-03,5.053333,2.316667,6.280000,0.670000,1.626667,0.596667,4.320000,0.360000,1.750000,1.263333,4.013333,9.040000
1971-01-10,20.667143,20.857143,18.852857,10.251429,17.375714,14.060000,15.542857,15.155714,14.082857,14.772857,24.628571,22.897143
1971-01-17,12.327143,11.584286,10.327143,4.435714,9.910000,6.744286,6.387143,7.095714,6.962857,6.635714,11.347143,13.082857
1971-01-24,18.381429,15.550000,14.310000,7.958571,14.201429,9.684286,13.255714,10.654286,11.462857,11.137143,16.227143,19.602857
1971-01-31,13.321429,10.351429,11.744286,5.251429,8.045714,3.620000,8.565714,3.918571,6.507143,5.294286,9.815714,12.994286
...,...,...,...,...,...,...,...,...,...,...,...,...
2070-12-07,13.845714,12.410000,11.631429,6.368571,13.011429,8.680000,11.737143,9.368571,11.088571,10.468571,16.641429,21.184286
2070-12-14,11.870000,8.447143,11.720000,4.150000,8.625714,5.311429,5.488571,5.547143,5.648571,4.168571,8.370000,12.934286
2070-12-21,11.605714,9.981429,12.400000,5.404286,9.630000,7.090000,8.308571,7.442857,8.232857,8.930000,12.392857,18.548571
2070-12-28,13.158571,8.205714,17.434286,5.948571,9.590000,4.047143,9.435714,5.927143,7.862857,7.238571,6.912857,17.500000
2071-01-04,14.363333,8.706667,21.723333,7.706667,8.140000,5.290000,12.166667,5.933333,7.900000,7.013333,9.000000,16.196667

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [ ]:
# otherways to do it

In [98]:
data.groupby(data.index.week).describe()

<ipython-input-98-c5a02355476c>:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  data.groupby(data.index.week).describe()

            RPT                                                              \
          count       mean       std   min      25%     50%      75%    max
Yr_Mo_Dy
1         129.0  13.693101  5.955341  2.62   9.5400  13.000  17.0400  33.34
2         126.0  15.362302  6.499165  2.00  10.4000  14.795  19.8100  31.13
3         126.0  15.393492  6.542906  1.63  10.5850  15.415  19.4175  33.12
4         125.0  14.978320  6.522759  0.67  10.5000  15.370  19.4100  35.38
5         126.0  14.949444  5.564970  2.71  11.3900  14.475  18.6400  33.84
6         126.0  13.276429  5.849531  2.79   8.8225  11.955  17.4475  30.13
7         126.0  14.284524  5.669260  2.92  10.2725  13.855  17.6475  28.01
8         126.0  13.759524  6.149511  1.54   9.3225  12.795  17.8275  32.38
9         125.0  12.441360  4.972366  0.67   9.0400  11.870  15.9200  26.30
10        125.0  13.171440  6.136131  2.29   8.5400  11.960  16.5400  35.80
11        126.0  14.006032  6.422839  1.46   9.0725  14.000  18.7375  33.04
12        126.0  12.752778  5.449203  2.92   9.2400  12.440  16.5700  32.13
13        126.0  13.327222  5.527115  2.79   8.9800  13.225  17.0350  28.29
14        126.0  13.380635  5.526549  3.88   9.6525  13.435  17.3000  32.58
15        126.0  12.410873  5.282815  4.00   7.8525  11.480  15.6900  29.79
16        126.0  12.957143  5.300447  3.67   9.0800  12.415  16.3200  27.84
17        126.0  11.073889  5.456018  3.46   6.3225  10.085  14.6575  26.83
18        126.0  12.952619  4.469916  1.63   9.8825  12.875  16.0250  27.25
19        126.0  13.060556  5.468037  3.54   8.6700  13.025  16.5600  30.91
20        126.0  11.218651  5.416911  2.42   6.8400  10.040  14.4275  25.17
21        126.0  11.115476  5.047719  2.62   7.5600  10.625  13.4600  28.79
22        126.0  10.030159  4.194970  2.04   6.9400   9.375  12.5075  21.84
23        126.0   9.730635  4.453134  2.17   6.4900   9.165  12.1375  23.21
24        126.0  10.081111  4.383038  1.00   6.6225   9.915  12.7375  22.13
25        126.0  11.678810  4.271721  2.92   8.4800  11.400  14.6375  22.71
26        125.0  10.164160  4.158196  2.58   6.8700   9.710  13.0800  22.42
27        126.0  10.017698  4.654629  2.00   6.8325   8.960  11.9900  25.84
28        126.0  10.047619  4.621457  2.75   6.2900   9.420  13.2600  22.50
29        126.0  10.152937  4.648709  1.71   6.4000  10.150  13.4575  22.34
30        126.0   9.579762  3.915094  1.25   6.5400   9.190  12.2800  20.33
31        126.0   9.949206  4.268719  2.79   6.7625   9.940  12.7975  22.42
32        125.0  10.300080  4.008663  2.67   6.8700  10.170  13.2500  20.08
33        126.0   9.955317  4.598125  3.17   6.6400   8.670  12.4050  26.38
34        126.0  10.908810  5.260527  2.42   7.1700  10.645  14.6000  26.20
35        126.0  10.334365  4.825338  0.96   6.0800  10.125  13.5900  23.38
36        126.0  10.771429  5.052213  1.50   6.7625  10.400  14.1875  29.54
37        126.0  11.164524  5.664221  1.79   6.6700  10.795  14.9800  31.42
38        126.0  10.199206  4.683674  0.79   6.8000   9.270  12.8600  24.87
39        126.0  13.838810  5.414447  3.21  10.0100  13.545  17.0400  27.00
40        126.0  12.394921  4.418631  2.37   9.3050  12.460  15.3175  25.29
41        125.0  12.210640  5.351602  3.04   8.4200  11.790  15.0900  25.92
42        126.0  12.632381  5.940746  2.04   8.3800  12.060  16.2700  28.62
43        126.0  13.089365  5.782207  1.50   9.1650  12.525  16.3575  29.08
44        126.0  13.752778  5.021135  3.67  10.5925  13.700  16.3675  30.09
45        126.0  13.188016  5.813210  2.96   9.0925  12.210  16.5375  32.96
46        126.0  14.040873  6.275067  2.92   9.0925  12.750  18.7200  30.21
47        126.0  11.886429  5.565594  2.67   7.9200  10.475  15.0575  27.21
48        126.0  13.592857  6.127824  3.08   9.0200  13.060  17.3900  34.37
49        126.0  14.792619  5.729574  1.21  10.6800  13.660  18.4375  29.33
50        126.0  14.395079  6.652345  1.96   9.4925  14.770  18.2175  30.91
51        126.0  14.106905  5.792890  1.79   9.5900  13.735  17.8200  28.71
52        126.0  14.186905  5.735948  3.00   9.6425  13.145  17.0800  32.50
53         19.0  13.001053  5.998515  3.71   8.8550  13.620  17.0250  23.83

            VAL             ...      BEL           MAL                       \
          count       mean  ...      75%    max  count       mean       std
Yr_Mo_Dy                    ...
1         129.0  11.434574  ...  18.5400  38.20  129.0  18.090853  6.922529
2         126.0  13.096587  ...  18.8175  31.08  126.0  17.220159  7.073280
3         126.0  14.049127  ...  18.9700  39.04  126.0  18.596746  6.558235
4         126.0  13.186508  ...  19.3700  34.42  126.0  18.120952  7.650321
5         126.0  13.516825  ...  19.1350  27.71  126.0  18.195238  6.353317
6         126.0  11.464048  ...  17.6150  28.62  126.0  17.320873  6.083233
7         126.0  12.348333  ...  18.1050  32.08  126.0  17.352302  7.036446
8         126.0  12.189286  ...  17.7950  35.08  126.0  17.242222  7.371283
9         126.0  11.438889  ...  18.7950  29.38  125.0  15.971360  6.196042
10        126.0  11.283095  ...  16.5900  32.63  126.0  16.177540  6.382350
11        126.0  12.049444  ...  18.6575  34.92  125.0  17.504320  7.351294
12        126.0  11.227063  ...  18.6350  31.71  126.0  17.713651  6.912883
13        126.0  11.613333  ...  17.7700  32.21  126.0  16.772381  6.564649
14        126.0  10.599444  ...  16.9500  25.50  126.0  16.378571  7.074578
15        126.0  10.001587  ...  16.2900  27.00  126.0  15.725000  6.710908
16        126.0  11.313254  ...  16.6025  24.08  126.0  14.581032  5.652150
17        126.0   9.613651  ...  15.8100  26.12  126.0  12.585714  5.832857
18        126.0  11.079365  ...  16.3800  28.33  126.0  14.913492  6.207995
19        126.0  11.223254  ...  17.3300  32.91  126.0  14.506984  5.572942
20        125.0   9.790080  ...  15.7200  25.88  126.0  13.584286  5.759704
21        126.0   9.527540  ...  15.3750  28.12  126.0  13.423730  5.479044
22        126.0   8.684524  ...  14.1500  26.38  126.0  12.096667  4.837763
23        126.0   8.445556  ...  14.1000  21.34  126.0  12.277698  5.333154
24        126.0   8.847778  ...  14.7900  29.79  126.0  11.890635  5.676521
25        126.0   9.815873  ...  16.2000  25.62  126.0  14.158492  5.576869
26        126.0   8.880238  ...  16.2175  24.71  125.0  13.399280  4.875065
27        126.0   7.964444  ...  13.7375  23.00  126.0  13.027381  5.170427
28        126.0   8.359524  ...  14.6475  23.83  126.0  12.745476  5.721631
29        126.0   8.391190  ...  14.9275  24.41  126.0  13.097143  5.357008
30        126.0   8.054762  ...  14.3200  22.37  126.0  12.062302  5.034653
31        126.0   8.437540  ...  13.4975  22.00  126.0  12.390079  4.800156
32        126.0   8.573333  ...  13.8100  24.08  125.0  12.721200  5.572991
33        126.0   7.853175  ...  13.0450  23.25  126.0  11.249921  5.364916
34        126.0   9.326429  ...  16.3000  24.83  126.0  13.924841  5.716845
35        126.0   8.646270  ...  15.8225  26.46  126.0  13.376349  6.039210
36        126.0   9.299921  ...  14.4675  23.79  126.0  13.885079  5.433684
37        126.0   9.289683  ...  16.4200  25.75  126.0  14.570556  6.556485
38        126.0   9.313095  ...  15.0800  24.71  126.0  13.360397  5.423834
39        125.0  12.250160  ...  19.7900  28.79  126.0  17.301667  6.861325
40        126.0  10.800317  ...  17.4275  26.71  126.0  15.570794  6.331388
41        126.0  10.450000  ...  16.6375  34.83  126.0  15.502619  6.587951
42        126.0  10.662619  ...  19.4225  32.63  126.0  17.174603  6.694973
43        126.0  11.726508  ...  19.4100  38.96  126.0  18.216905  6.294219
44        126.0  12.043968  ...  19.0200  35.30  126.0  18.368889  6.894145
45        126.0  11.950397  ...  18.8475  33.34  126.0  18.251746  7.618203
46        126.0  12.133571  ...  18.1575  31.96  126.0  18.381032  8.206919
47        126.0  10.530714  ...  16.8975  30.00  126.0  17.301984  7.472136
48        126.0  11.966429  ...  18.8575  42.38  126.0  18.423810  6.568241
49        126.0  12.951667  ...  18.7275  28.16  126.0  19.401270  6.284643
50        126.0  12.695238  ...  18.6300  29.25  126.0  17.926429  6.863334
51        126.0  11.832540  ...  17.9275  31.25  126.0  18.028095  6.245836
52        126.0  11.236032  ...  16.3300  29.71  126.0  18.981508  7.009779
53         18.0  10.873333  ...  16.6250  28.33   19.0  15.786842  5.675942


           min      25%     50%      75%    max
Yr_Mo_Dy
1         4.17  13.1700  17.410  23.2900  34.13
2         3.63  11.1350  17.080  22.1175  34.70
3         4.79  14.3525  19.065  23.0300  32.83
4         3.25  12.3000  18.185  22.8100  40.12
5         6.34  13.7900  17.625  22.1700  38.79
6         4.83  12.5000  17.020  20.8100  33.04
7         5.09  11.7300  16.420  22.3075  37.04
8         3.04  11.3600  16.520  22.7800  38.20
9         2.46  11.5800  15.370  20.0400  30.63
10        4.17  11.4800  15.670  20.4700  37.59
11        4.54  11.9600  17.160  21.6700  40.37
12        3.21  12.8825  17.875  22.1600  37.99
13        2.04  12.9700  16.640  20.3800  31.20
14        3.71  11.2725  15.670  20.8600  34.08
15        4.33  11.1325  14.170  20.3600  33.95
16        4.17  10.6025  14.065  17.6975  32.05
17        2.21   8.0500  12.020  15.9200  26.92
18        3.25  10.4325  13.960  18.7400  28.75
19        3.33  10.5625  14.605  18.3400  28.01
20        3.58   9.1900  12.940  16.9275  32.17
21        4.04   8.9300  13.350  16.9575  29.50
22        1.75   8.8225  11.895  15.1875  28.04
23        2.21   8.3825  11.770  15.8875  32.79
24        2.79   7.4350  11.205  15.1575  27.16
25        3.08  10.1700  13.790  17.4475  28.38
26        4.54   9.7900  12.920  16.6600  28.08
27        4.50   9.0200  13.105  16.2500  29.63
28        2.13   8.6500  11.975  16.3200  28.46
29        2.50   8.5425  13.230  17.3800  25.37
30        2.88   8.3000  11.770  15.5775  25.37
31        2.25   9.2725  12.750  16.5700  22.50
32        3.04   8.8300  12.250  15.8700  29.95
33        2.17   7.2900  10.645  14.4375  34.33
34        3.37   9.4200  13.480  18.2175  30.46
35        3.37   8.7500  12.395  17.4475  27.33
36        3.67   9.6675  14.420  17.1000  30.34
37        2.83   9.9600  14.355  17.9850  35.13
38        0.67   9.4925  13.290  17.3475  29.63
39        4.04  12.5725  16.520  20.8900  33.63
40        3.58  11.0500  14.625  20.3175  32.96
41        2.04  10.7200  15.120  19.9875  36.51
42        5.04  12.1125  16.395  21.6575  33.45
43        7.62  13.0500  17.335  22.7075  36.63
44        6.17  12.8400  18.170  21.7850  37.59
45        2.96  12.7775  17.915  24.0650  38.04
46        2.00  12.5125  17.665  23.2575  40.41
47        4.25  11.6125  16.625  21.1175  41.25
48        7.08  13.5525  17.605  22.7400  42.54
49        5.09  15.4650  19.480  23.3300  36.08
50        4.25  12.8825  17.520  21.9075  37.12
51        2.62  13.9100  17.520  21.4600  38.25
52        4.58  14.4400  17.895  22.7400  41.46
53        7.12  11.4200  15.670  19.1250  25.70

[53 rows x 96 columns]