# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
#import panda, numpy

import pandas as pd

import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

#pd.read_csv() can read from urls, and here the dataset is .tsv(tab separated value, so we use \t)

chipo = pd.read_csv(url, '\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
# Solution 2 
# shape gives you rows, cols.

chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [7]:
# chipo.shape[0]    # gives you rows

chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
# mostordereditem = chipo['quantity'].max()   # quantity of each item is wtitten individually. so we have to count the items that has been ordered maximum time by counting

#groupby()-split the data into groups based on some criteria. here we group the data on item_name.

mostordereditem = chipo.groupby('item_name') # all the items will be grouped together

#sum() to find the sum of all the values over the column axis

mostordereditem = mostordereditem.sum() #different item names grouped will be summed group wise
# mostordereditem 

mostordereditem = mostordereditem.sort_values(['quantity'], ascending=False)

mostordereditem 

# type(mostordereditem)

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1

In [11]:
# chipo.item_name.value_counts().head(1) #one line solution

In [12]:
# another way by using groupby([colname]).sum()- Compute sum of group values.

# maxorder= chipo.groupby(['item_name']).sum()

# # maxorder.sort_values(['quantity']       # shows wrong value
                      
# maxorder= maxorder.sort_values(['quantity'], ascending=False) # always assign, otherwise values from copy df shows

# maxorder.head(1)

In [13]:
# value_counts()- Return a Series containing counts of unique values.in descending order
# count()- Count non-NA cells for each column or row

# chipo.groupby('item_name').count()      # gives same count as value_counts()

# chipo['item_name'].count()              # counts total items in coloumn


# chipo['item_name'].value_counts() # why not wrong? #return count of occurences of each of the unique values in this column

In [14]:
# another way by using agg()-
# maxorder= chipo.groupby(['item_name']).agg({'quantity':'sum'})
# maxorder= maxorder.sort_values(['quantity'], ascending=False)

### Step 10. For the most-ordered item, how many items were ordered?

In [15]:
mostordereditem.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [16]:
maxorderchoice= chipo.groupby('choice_description').sum()
maxorderchoice= maxorderchoice.sort_values(['quantity'], ascending=False)

maxorderchoice.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [18]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [19]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [20]:
# chipo['item_price'] = chipo['item_price'].astype(float)       gives error as it consists of $

# chipo['item_price']=chipo['item_price'].str.slice(1).astype(float) # str.slice()- slice substrings from a string present in Pandas series objectremoves the $

#### Step 13.c. Check the item price type

In [21]:
chipo.item_price.dtype

dtype('O')

In [22]:
#to_numeric approach in order to convert the values under the ‘Price’ column into floats

#By setting errors=’coerce’, you’ll transform the non-numeric values into NaN

# chipo['item_price'] = pd.to_numeric(chipo['item_price'], errors='coerce')

In [23]:
chipo.item_price.dtype

dtype('O')

In [24]:
# pd.to_numeric(chipo.item_price.str.slice(1))    # removes $, then convert it to float, then assign it to a var

In [25]:
# using lamda function. syntax(lambda arguments : expression)

lam = lambda x: float(x[1:])

chipo.item_price = chipo.item_price.apply(lam)

In [26]:
chipo.item_price.dtype

dtype('float64')

In [27]:
chipo.item_price.head(5)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [28]:
revenue = chipo['item_price'] * chipo['quantity']

revenue = revenue.sum()

revenue

39237.02

In [29]:
# chipo['item_price'].sum()       # this sums the total values in item_price col. but its not revenue

### Step 15. How many orders were made in the period?

In [30]:
count_unique_orders = chipo.order_id.nunique()
count_unique_orders

1834

In [31]:
# value_counts()- Return a Series containing counts of unique values.in descending order
# count()- Count non-NA cells for each column or row
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [32]:
# Solution 1

avgrevenueperorder = revenue/count_unique_orders
avgrevenueperorder

21.39423118865867

In [33]:
# Solution 2

chipo['revenue'] = chipo['quantity'] * chipo['item_price']

revenue.sum()

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.39423118865867

### Step 17. How many different items are sold?

In [34]:
# chipo.item_name.value_counts()  # this gives the total series of item names
chipo.item_name.value_counts().count()       # gives the total count

50

In [35]:
chipo.item_name.nunique()

50